body {
  background-color:	#4683b4af; /* Um tom de azul bem claro e suave (Alice Blue) */
  font-family: Monospace; /* Uma fonte sem serifa para melhor leitura */
  font-size: 19px; /* Tamanho da fonte padrão */
  margin: 0; /* Remove as margens padrão do body */
  display: flex; /* Para centralizar os botões horizontalmente */
  flex-direction: column; /* Para alinhar os botões verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
  text-align: center; /* Centraliza o texto */
}

.titulo {
  font-size: 19px;
  color: #e6e6e6;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.titulo h1,
.titulo h3 {
  margin: 0;
  color: inherit; /* Garante que herdem a cor definida na div */
}

button {
  background-color: #4682B4; /* Um verde agradável */
  font-family: Monospace;
  font-weight:bold;
  color: #e6e6e6; /* Texto branco para contraste */
  padding: 10px 20px; /* Espaçamento interno para o botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Deixa as bordas levemente arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  font-size: 16px; /* Tamanho da fonte do texto do botão */
  margin: 5px; /* Espaçamento entre os botões */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave ao passar o mouse */
}

button:hover {
  background-color: #1E90FF; /* Um tom de verde um pouco mais escuro ao passar o mouse */
}